body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, footer{
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}

main{
    padding: 20px;
    border : 2px solid black;
    text-align: left;
}

p {
    text-align: center;
}

.nom {
    text-align: center;
}

.note{
    background-color: rgb(53, 250, 250);
    color: #000;
    padding: 5px 0px;
    width: 10cm;
    align-items: center;
}

.NB{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}